<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3">Meals</h1>
</header>
<section class="row">
  <form>
    <div class="container">
      <div class="row">
        
        <div class="form-group col-md-6 col-md-offset-3">
          

          <div>
            
            <div class="row">
                
                <div class="col-md-6">
                    <h4>Date from</h4>
                    <p class="input-group">
                      <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="date_from" is-open="date_from_opened" max-date="date_to" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open_date_from($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
            
              
              <div class="col-md-6">
                <h4>Date to</h4>
                <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="date_to" is-open="date_to_opened" min-date="date_from"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open_date_to($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
            </div>

        </div>

      </div>
    
    </div>
</div>
    
    <div class="form-group col-md-6 col-md-offset-3 text-center">
      <button ng-click="search(date_from,date_to)" class="btn btn-primary btn-lg">Search</button>
    </div>

    <div class="form-group col-md-6 col-md-offset-3 text-center">
      <button ng-click="newMeal()" class="btn btn-info btn-lg">New Meal</button>
    </div>
    
  </form>
</section>
<hr>
<section class="row" ng-if="meals">
  <h1 class="text-center h2">Results</h1>

  <ul class="list-unstyled">
    <li ng-repeat="meal in meals">
      <section class="well col-md-6 col-md-offset-3">
        
        <a href ng-click="view(meal.id)">
          <h1 class="h3 col-md-6 text-left" style="margin-top: 0">
            {{  getDateOutOfMeal(meal) }}
          </h1>
          <h2 class="h4 col-md-6 text-left" style="margin-top: 0">
            {{  getTimeOutOfMeal(meal) }}
          </h2>
        </a>


        <p>{{'Moment:' + meal.moment}}</p>
        <p>{{'Description:' + meal.description}}</p>
        <p>{{'Calories:' + meal.calories}}</p>
        <div class="col-md-6">
          <a href ng-click="editMeal(meal.id)">
            <button class="btn btn-info">Edit</button>
          </a>
          <a href ng-click="deleteMeal(meal.id)">
            <button class="btn btn-danger">Delete</button>
          </a>
        </div>
      </section>

    </li>
  </ul>
</section>
