<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3">Meals</h1>
</header>
<section class="row">
  <form>
    <div class="container">
      <div class="row">
        
        <div class="form-group col-md-6 col-md-offset-3">
          <label for="date_from" class="sr-only">Date from</label>
          <input type="text" ng-model="date_from" autofocus class="form-control" placeholder="Date from">
        </div>

      </div>
    

      <div class="row">

        <div class="form-group col-md-6 col-md-offset-3">
          <label for="date_to" class="sr-only">Date to</label>
          <input type="text" ng-model="date_to" autofocus class="form-control" placeholder="Date to">
        </div>

      </div>
    </div>
</div>
    
    <div class="form-group col-md-6 col-md-offset-3 text-center">
      <button ng-click="search(date_from,date_to)" class="btn btn-primary btn-lg">Search</button>
    </div>
  </form>
</section>
<hr>
<section class="row" ng-if="meals">
  <h1 class="text-center h2">Results</h1>

  <ul class="list-unstyled">
    <li ng-repeat="meal in meals">
      <section class="well col-md-6 col-md-offset-3">
        
        <h1 class="h3 col-md-6 text-right" style="margin-top: 0"><a href ng-click="view(meal.id)">{{meal.moment}}</a></h1>
      
        <p>{{'Moment:' + meal.moment}}</p>
        <p>{{'Description:' + meal.description}}</p>
        <p>{{'Calories:' + meal.calories}}</p>
        <div class="col-md-6">
          <button class="btn btn-info">Edit</button>
          <button class="btn btn-danger">Delete</button>
        </div>
      </section>

    </li>
  </ul>
</section>
