<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3">Meals</h1>
</header>
<section class="row">
  <form>
    <!--
    <div class="form-group col-md-6 col-md-offset-3">
      <label for="keywords" class="sr-only">Keywords</label>
      <input type="text" autofocus class="form-control" placeholder="Recipe name, e.g. Baked Potato">
    </div>
    -->
    <div class="container">
      <div class="row">
        <div class='col-sm-3'>
          <label for="Date from" >Date from</label>
        </div>
        <div class='col-sm-3'>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
              
              <input ng-model="date_from" type='text' class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <!-- Read how to make bootstrap jquery components run with angular https://scotch.io/tutorials/how-to-correctly-use-bootstrapjs-and-angularjs-together
        <script type="text/javascript">
              $(function () {
                  $('#datetimepicker1').datetimepicker();
              });
        </script>
        -->
      </div>

      <div class="row">
        <div class='col-sm-3'>
          <label for="Date to" >Date from</label>
        </div>
        <div class='col-sm-3'>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker2'>
              
              <input ng-model="date_to" type='text' class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <!-- Read how to make bootstrap jquery components run with angular https://scotch.io/tutorials/how-to-correctly-use-bootstrapjs-and-angularjs-together
        <script type="text/javascript">
              $(function () {
                  $('#datetimepicker1').datetimepicker();
              });
        </script>
        -->
      </div>
    </div>
</div>
    
    <div class="form-group col-md-6 col-md-offset-3 text-center">
      <button ng-click="search(date_from,date_to)" class="btn btn-primary btn-lg">Search</button>
    </div>
  </form>
</section>
<hr>
<section class="row" ng-if="meals">
  <h1 class="text-center h2">Results</h1>

  <ul class="list-unstyled">
    <li ng-repeat="meal in meals">
      <section class="well col-md-6 col-md-offset-3">
        <!--
        <h1 class="h3 col-md-6 text-right" style="margin-top: 0"><a href="#">{{meal.description}}</a></h1>
      -->
        <p>{{'Moment:' + meal.moment}}</p>
        <p>{{'Description:' + meal.description}}</p>
        <p>{{'Calories:' + meal.calories}}</p>
        <div class="col-md-6">
          <button class="btn btn-info">Edit</button>
          <button class="btn btn-danger">Delete</button>
        </div>
      </section>

    </li>
  </ul>
</section>
