<aside class="flash row">
  <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3 col-sm-12">
    {{flash.message}}
  </article>
</aside>

<section class="col-md-6 col-md-offset-3">
  <article class="panel panel-info" ng-if="meal">
    <header class="panel-heading">
      <h1>{{  getDateOutOfMeal(meal) }}</h1>
      <h2>{{  getTimeOutOfMeal(meal) }}</h2>
    </header>
    <p class="panel-body">
      {{'Description:' + meal.description}}
    </p>
    <p class="panel-body">
      {{'Calories' + meal.calories}}
    </p>
  </article>
  <button ng-click="delete(meal.id)" class="btn btn-danger">
    Delete
  </button>
  <button ng-click="back()" class="btn btn-default">
    &larr; Back
  </button>


</section>